<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
    <title>ParkEase Booking</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>
    <div class="nav">
        <img src="/static/images/favicon.png" alt="ParkEase" class="logo">
        <h1>ParkEase Booking</h1>
        <div class="btn-container">
            <button class="btn" onclick="window.location.href='/register'">Register</button>
            <button class="btn" onclick="window.location.href='/login'">LogIn</button>
        </div>
    </div>
    <div style="display: flex;">
        <div class="text-container">
            <span style="color: rgb(82, 1, 82);"> Don't <br> waste your <br> time anymore </span><br> to find a <br>
            parking
            lot.
        </div>
        <div class="car"></div>
    </div>
</body>

</html>